In [1]:
if 5 > 2 : 
    print ("Five is greater than two")

Five is greater than two

In [ ]:
# this line is comment line

In [4]:
x = 5
y = "mozz"
print(type(x) , type(y))

<class 'int'> <class 'str'>

In [5]:
x , y , z = "dunedain" , "mozz" , "apparat"
print(x , y , z)
# birden fazla variable olusturma

dunedain mozz apparat

In [9]:
x , y , z = "python" , "is" , "awesome"
print(x+y+z)
# string concatenation

pythonisawesome

In [10]:
x , y = 10 , 5
print(x + y)

15

In [11]:
x , y  = "10" , 5
print(x + y)
# İNT VE STRİNG TOPLAMAYA CALISTIGIMIZDA HATA ALIRIZ

TypeError: can only concatenate str (not "int") to str

In [12]:
x , y = "10" , "15"
print(x+y)
# string toplama islemi yapar

1015

In [14]:
x = "awesome"
# x burada  global değişkendir
def myFunc():
    print("python is " + x)
    
myFunc()

python is awesome

In [18]:
print(type(3.14))
print(type(3))
print(type(True))
print(type("mozz"))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

In [19]:
x = 4
print(type(str(x)))

<class 'str'>

In [20]:
x = "mozz"
y = int(x)
print(type(y))
# int string e çevrilir fakat string int e çevrilmez

ValueError: invalid literal for int() with base 10: 'mozz'

In [21]:
x = "50"
y = int(x)
print(type(y))

<class 'int'>

In [26]:
import random
#random sayı üretmek için random u import et (module)
print(random)
print(random.randrange(1,10))

<module 'random' from 'c:\\Users\\asus\\AppData\\Local\\Programs\\Python\\Python39\\lib\\random.py'>
4

In [28]:
x = 3
y = float(x)
print(y , type(y))

3.0 <class 'float'>

In [29]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [30]:
x = "hello ancient apparation"
print(len(x))

24

In [31]:
x = " the best things in life are free"
print("free" in x)

True

In [32]:
x = "ancient apparation"
print(x[2:5])

cie

In [33]:
print(x[:5])

ancie

In [34]:
print(x[-4 : -2])

ti

In [35]:
print(x.lower())

ancient apparation

In [38]:
print(x.upper())

ANCIENT APPARATION

In [39]:
print(x.replace("ancient","python"))

python apparation

In [43]:
print(x.split(" "))
# split stringi parçalar ve liste olarak döner

['ancient', 'apparation']

In [45]:
x = 29
y = "yaser"
message = f"hello my name is {x} and i am {y} years old"
# f string kullanarak stringi oluşturduk
print(message)

hello my name is 29 and i am yaser years old

In [49]:
x = 29
y = "yaser"
message = "hello my name is {0} and i am {1} years old"
print(message.format(x , y))

hello my name is 29 and i am yaser years old

In [50]:
x = 29
y = "yaser"
message = "hello my name is {0} and i am {1} years old".format(x , y)
# format kullanarak stringi oluşturdukr
print(message)

hello my name is 29 and i am yaser years old

In [53]:
x = "app" , "on" , "python"
print(list(x))

['app', 'on', 'python']

In [54]:
print(list("orange" , "apple" , "banana"))

TypeError: list expected at most 1 argument, got 3

In [58]:
my_list = ["app" , "on" , "python" , "orange" , "apple" , "banana"]
print(my_list[1 : 5])

['on', 'python', 'orange', 'apple']

In [59]:
if "app" in my_list:
    print("app is in my_list")

app is in my_list

In [60]:
my_list[1] = "demet yaser"
print(my_list)
# listenin elemanlarını değiştirme yeni atama yapma

['app', 'demet yaser', 'python', 'orange', 'apple', 'banana']

In [61]:
my_list[1 : 3] = "mozz"
print(my_list)

['app', 'm', 'o', 'z', 'z', 'orange', 'apple', 'banana']

In [62]:
my_list.insert(1 , "deneme123")
my_list

['app', 'deneme123', 'm', 'o', 'z', 'z', 'orange', 'apple', 'banana']

In [63]:
new_list = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
new_list.append(11)
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [64]:
first_list = [1,2,3,4]
second_list = [5,6,7,8]
first_list.extend(second_list)
print(first_list)
#iki listeyi birlestirmek için extend kullanırız

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
first_list = [1,2,3,4]
my_tuple = (5,6,7,8)
first_list.extend(my_tuple)
first_list
# extend ile liste elemanlarını bir tuple ile birlestiririz

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
first_list = [1,2,3,4 , 5 , 6 , 7 , 8 , 9 , 10]
first_list.remove(5)
first_list
#remove ile herhangi bir eleman cıkarılabilir.

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [71]:
del second_list[1]
second_list
# del ile hem item hem de ilgili eleman silinebilir.

[5, 7, 8]

In [72]:
second_list.clear()
second_list
# clear ile arrayin içindeki tüm elemanları silebilirz.

[]

In [73]:
my_list = [1,2,3,4,5]
for i in my_list:
    print(i)

1
2
3
4
5

In [75]:
for i in range(len(my_list)):
    print(i)

0
1
2
3
4

In [77]:
new_array = ["ali" , "veli" , "ayse" , "fatma"]
i = 0
while i < len(new_array):
    print(new_array[i])
    i += 1

ali
veli
ayse
fatma

In [81]:
new_array = ["ali" , "veli" , "ayse" , "fatma"]
emprty_array = []
for i in new_array:
    if "i" in i:
        emprty_array.append(i)
print(emprty_array)

['ali', 'veli']

In [82]:
my_array = ["ali" , "veli" , "ayse" , "fatma"]
new_list2 = [i for i in my_array if "i" in i]
new_list2
#list comprehension kullanarak liste oluşturma js te ternary kullanımı gibidir.

['ali', 'veli']

In [85]:
my_array = ["ali" , "veli" , "ayse" , "fatma"]
deneme = [i for i in my_array if i != "ali"]
deneme
#js te filter metodu gib

['veli', 'ayse', 'fatma']

In [87]:
deneme2 = [i for i in range(10) if i % 3 == 0]
deneme2

[0, 3, 6, 9]

In [88]:
my_array = ["ali" , "veli" , "ayse" , "fatma"]
deneme3 = [x.upper() for x in my_array]
deneme3

['ALI', 'VELI', 'AYSE', 'FATMA']

In [90]:
my_array.sort()
my_array
# sort alfabetik olarak sıralama yapar.

['ali', 'ayse', 'fatma', 'veli']

In [92]:
new_array = [5101 , 220 , 30 , 420 , 450]
new_array.sort()
new_array

[30, 220, 420, 450, 5101]

In [93]:
new_array.sort(reverse = True)
new_array
#tersten sıralama için reverse = True kullan.

[5101, 450, 420, 220, 30]

In [97]:
new_array = [10 , 20 , 50 , 101]
def my_function(n):
   return n -5
new_array.sort(key = my_function)
new_array
# nasıl sıralama yapmasını istiyorsak bir fonksiyon yazıp key = fonksiyonu kullanırız.

[10, 20, 50, 101]

In [98]:
deneme4 = ["banana" , "Orange" , "Apple" , "mango"]
deneme4.sort()
deneme4
# default büyük harfler küçük harflerden daha önce sıralanır

['Apple', 'Orange', 'banana', 'mango']

In [103]:
deneme4 = ["banana" , "Orange" , "Apple" , "mango"]
deneme4.sort(key = str.lower)
deneme4
# default olarak büyük harfler önce gelir demiştik. Fakat sensitive bakmadan sıralma yapmak istiyorsak 
# sort(key = str.lower) kullanırız.

['Apple', 'banana', 'mango', 'Orange']

In [104]:
a , b = 33 , 22

if a > b :
    print("a is greater than b")

elif a == b :
    print("a is equal to b")
else :
    
    print("a is less than b")
    
# js te elif yeri else if kullanılır.
# if(a > b) { } else if(a == b) { } else { }

a is greater than b

In [106]:
a = 10
b = 5
if a >= b : print("a is greater than b")
# tek conditon varsa tek satırda : sonra yazılabilir.

a is greater than b

In [110]:
x = ["ali" , "veli" , "ayse" , "fatma"]
for i in x : 
    print(i)
    if i == "ayse":
        break

ali
veli
ayse

In [114]:
fruits = ["banana" , "orange" , "apple" , "mango" , "pineapple"]
for i in fruits : 
    
    if i == "apple":
        continue
    print(i)

banana
orange
mango
pineapple

In [115]:
for i in range(20 , 90 , 3):
    print(i)

20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89

In [116]:
numbers = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]
fruits = ["banana" , "orange" , "apple" , "mango" , "pineapple"]
for i in numbers:
    for j in fruits:
        print(i , j)

1 banana
1 orange
1 apple
1 mango
1 pineapple
2 banana
2 orange
2 apple
2 mango
2 pineapple
3 banana
3 orange
3 apple
3 mango
3 pineapple
4 banana
4 orange
4 apple
4 mango
4 pineapple
5 banana
5 orange
5 apple
5 mango
5 pineapple
6 banana
6 orange
6 apple
6 mango
6 pineapple
7 banana
7 orange
7 apple
7 mango
7 pineapple
8 banana
8 orange
8 apple
8 mango
8 pineapple
9 banana
9 orange
9 apple
9 mango
9 pineapple
10 banana
10 orange
10 apple
10 mango
10 pineapple

In [117]:
x = lambda a, b  : a + b
print(x(2 , 3))

5

In [119]:
import datetime
x = datetime.date.today()
x

datetime.date(2022, 8, 15)

In [121]:
import datetime
x = datetime.datetime.now()
x

datetime.datetime(2022, 8, 15, 17, 52, 12, 144672)

In [122]:
import datetime
x = datetime.datetime.now()
x

datetime.datetime(2022, 8, 15, 17, 53, 25, 838550)

In [123]:
x = abs(-10)
x

10

In [125]:
import math 
x = math.ceil(2.9)
x

3

In [126]:
import math
x = math.floor(2.9)
x

2